/* Player */
.player {
  min-width: 320px;
  background-image: linear-gradient(black, gray);
  border-radius: 1rem;
  padding: 2rem;
  color: white;
  box-shadow: 2px 2px 3px black;
}

/* Title */
.title {
  margin-top: 0;
  text-align: center;
}

/* Cover */
.cover {
  width: 128px;
  height: auto;
  border-radius: .3rem;
  display: block;
  margin: 0 auto 1rem auto;
}

/* Progress */
.progress-container {
  height: .6rem;
  background-color: lightgray;
  margin-bottom: 1rem;
}

.progress {
  background-color: goldenrod;
  width: 0;
  height: 100%;
}

/* Controls */
.controls {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.controls button {
  background-color: transparent;
  border: none;
}

.controls i {
  font-size: 1.7rem;
  color: white;
}

/* Songs */
.songs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.songs li {
  margin-bottom: 1rem;
}

.songs a {
  color: lightgray;
  text-decoration: none;
}

.songs a.active {
  
  font-weight: bold;
  font-size: 18px;
  
  background: linear-gradient(to right, #056af6, #b41759);
  background-clip: text;
  -webkit-background-clip: text; /* Para navegadores basados en WebKit (Safari, Chrome) */
  color: transparent;
}

/* iframe de youtube */
.youtube{
  width: 560px;
  height: 315px;
}

/* estilos para boton contador de minutos  */
#time {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ajusta esto según el tamaño deseado del botón */
}

#currentTime,
#duration {
  margin: 0 5px; /* Ajusta los márgenes entre los elementos según lo desees */
}


/* CSS para centrar el contenido del reproductor de audio */
#audio-container {
  display: flex;
  justify-content: center;
}

.playlist-container {
  height: 300px; /* Altura fija para la sección de playlist */
  overflow-y: auto; /* Desbordamiento vertical con barra de desplazamiento */
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
  .row.gx-5.align-items-center {
    flex-wrap: wrap; /* Permite que los elementos se envuelvan verticalmente */
  }

  .col-xl-5 {
    text-align: center;
  }

  .player {
    margin-bottom: 20px;
  }

  .playlist-container {
    margin-bottom: 20px;
  }
}

